html {
    background: #FFF;
    font-family: "Roboto", sans-serif;
    height: 100%;
}

body {
    height: 100%;
}

#heading {
    background: #3E94EC;
    color: #FFF;
    position: relative;
    min-height: 500px;
}

#heading h1 {
    padding-top: 20%;
}

#heading h4 {
    line-height: 1;
}

#heading .two_line_1 {
    color: #9DFA32;
}

#heading .two_line_2 {
    color: #A83BED;
}

#heading hr {
    height: 4px;
    background: #FFF;
}

#heading svg {
    color: #212529;
    cursor: pointer;
}

#heading .bottom_anchor {
    position: absolute;
    bottom: 10%;
}

.mt-25 {
    margin-top: 25%!important;
}

h1 {
    font-family: "Roboto Mono", sans-serif;
}

p {
    font-family: "Lato", sans-serif;
}

.example h3 {
    text-align: center;
}

.example canvas {
    margin: auto;
    display: block;
    border: 1px solid black;
}

.example .results {
    width: 30%;
    margin-left: 35%;
}

.example .results h5 {
    width: 50%;
    float: left;
    text-align: center;
}

.clear {
    clear: both;
}

table {
    background: white;
    border-radius: 3px;
    border-collapse: collapse;
    height: 320px;
    margin: auto;
    max-width: 600px;
    padding: 5px;
    width: 100%;
}

table th {
    color: #D5DDE5;
    background: #1B1E24;
    border-bottom: 4px solid #9ea7af;
    border-right: 1px solid #343a45;
    font-size: 1.1em;
    font-weight: 100;
    padding: 24px;
    text-align: left;
    vertical-align: middle;
}

table th.head {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom: 2px solid #9EA7AF;
    border-top: none;
}

tr {
    border-top: 1px solid #C1C3D1;
    border-bottom: 1px solid #C1C3D1;
    color: #666B85;
    font-weight: normal;
    text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
}

tr:first-child {
    border-top: none;
}

tr:last-child {
    border-bottom: none;
}

tr:nth-child(odd) td {
    background: #EBEBEB;
}

td {
    background: #FFF;
    padding: 20px;
    text-align: left;
    vertical-align: middle;
    font-weight: 300;
    border-right: 1px solid #C1C3D1;
    text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
}

#neural_selection {
    text-align: center;
}

#neural_selection h4 {
    margin-bottom: 30px;
}

#neural_selection span {
    background: #FFF;
    padding: 20px;
    color: #1B1E24;
    margin-right: 10px;
    cursor: pointer;
}

#neural_selection h5 {
    margin-top: 50px;
    margin-bottom: 30px;
}

#neural_selection .train {
    background: white;
    width: 20%;
    cursor: pointer;
    margin: auto;
    padding: 25px;
    color: #1B1E24;
}
