html {
    background: #FFF;
    font-family: "Roboto", sans-serif;
    height: 100%;
}

body {
    height: 100%;
}

#heading {
    background: #3E94EC;
    color: #FFF;
    position: relative;
    min-height: 500px;
}

#heading h1 {
    padding-top: 20%;
}

#heading h4 {
    line-height: 1;
}

#heading .two_line_1 {
    color: #9DFA32;
}

#heading .two_line_2 {
    color: #A83BED;
}

#heading hr {
    height: 4px;
    background: #FFF;
}

#heading svg {
    color: #212529;
    cursor: pointer;
}

#heading .bottom_anchor {
    position: absolute;
    bottom: 10%;
}

h1 {
    font-family: "Roboto Mono", sans-serif;
}

p {
    font-family: "Lato", sans-serif;
}

.container {
    max-width: 100%;
}

.example {
    height: 100%;
    padding-top: 10%;
}

.example canvas {
    margin: auto;
    display: block;
    border: 1px solid black;
}

.box_lined_thick {
    border: solid 7px #41403E;
    background: transparent;
    margin:0 1rem;
    padding: .5rem .5rem;
    transition:all .5s ease;
    color:#41403E;
    letter-spacing:1px;
    outline:none;
    box-shadow: 20px 38px 34px -26px hsla(0,0%,0%,.2);
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
    cursor: pointer;
}

button, button:hover, button:active, button:focus {
    outline: 0;
}

button {
    width: 100%;
}

#neural_selection span {
    background: #FFF;
    color: #1B1E24;
    margin-right: 10px;
    cursor: pointer;
}
